.App{
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
}

/* My button */
.btn,
.btn-1 {
  background: rgb(28, 116, 218);
  border-radius: 6px;
  padding: 5px 13px;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  margin: 0.1em;
}
.btn-1 {
  background: rgb(238, 62, 39);
}
.btn:hover,
.btn-1:hover {
  background-color: rgb(8, 63, 126);
}

.btn:active,
.btn-1:active {
  background: #82b2e7;
}
/* My button 1 */

/* Input */
.ipt {
  height: 1.5em;
  width: 15em;
  font-size: 1em;
  margin: 0.3em;
}


.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 800px;
}
#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.logo {
  height: 31px;
  float: left;
}
  /* [data-theme="dark"] .site-layout-content {
    background: #141414;
  }
  [data-theme="dark"] .logo {
    background: rgba(255,255,255,0.3);
  } */
.avatar{
  align-items: center;
  display: flex;
}
/* carousel */
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #b4b9c2;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: rgb(40, 4, 245);
}